.search-query-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  margin: 0 0 20px 0;
  position: relative;
}

.search-results {
  background: #FAFAFA;
  display: block;
  margin: 8px 0px 8px 30px;
}

.search-results h1 {
  font-weight: bold;
  font-family: "lato";
  font-size: 22px;
  line-height: 22px;
  text-transform: capitalize;
  color: #4F6481;
  margin-bottom: 0;
}

.search-results .result-link {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 2px 2.28px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 25px 35px 25px;
  display: block;
  position: relative;
  transition: all .4s;
}

.search-results .result-link:hover {
  transition: all .4s;
  box-shadow: 2px 2.28px 10px rgba(0, 0, 0, 0);
}

.search-results .result-link:hover .result-title {
  transition: all .4s;
  color: #4F6481;
}

.search-no-results {
  text-align: center;
  font-family: "lato";
}

.search-no-results img {
  width: 40px;
}

.search-no-results h6 {
  font-size: 18px;
  font-weight: 500;
  color: #37A8EB;
  margin: .7em 0 .5em;
  line-height: 1.4em;
}

.search-no-results-text {
  font-weight: 500;
  color: #586C8A;
  font-size: 14px;
  line-height: 1.4em;
}

.card-details {
  width: 88%;
}

.search-results {
  a {
    width: 100%;
    height: 100;
  }
  p {
    font-size: 14px;
    color: #879EC0;
    font-weight: 400;
  }
  .result-title {
    max-width: 660px;
    display: block;
  }
  .card-controls {
    position: absolute;
    top: 0;
    right: 0;
    background: #F2F6FF;
    padding: 10px 24px;
  }  
  .result-expiration {
    display: flex;
    flex-flow: column;

    .field-name {
      font-size: 14px;
      line-height: 15px;
      color: #4F6481;
    }
    .field-value {
      font-weight: 400;
      color: #3ea8eb;
    }
  }
  .field-name {
    display: block;
    margin: 3px 0;
    word-break: break-all;
  }
  .parties {
    display: flex;
    margin: 10px 0 15px 0;

    .author, .buyer {
      margin-right: 40px;
    }
  } 
}

.remove-all {
  float: right;
  margin-top: -13px;
}

.field-group-header {
  margin: 30px 0 8px 0;
}

.field--checkbox {
  display: flex;
  margin-bottom: 1em;
}

.field--checkbox input[type="checkbox"] {
  opacity: 0;
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
}

.field--checkbox label {
  position: relative;
  display: inline-block;
  padding: 4px 0 0 26px;
}

.field--checkbox label::before,
.field--checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}

.field--checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid #37A8EB;
  left: 0px;
  top: 3px;
}

.field--checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

.field--checkbox input[type="checkbox"]+label::after {
  content: none;
}

.field--checkbox input[type="checkbox"]:checked+label::after {
  content: "";
}

.field--checkbox input[type="checkbox"]:checked+label::before {
  background: #37A8EB;
}

.field--checkbox input[type="checkbox"]:focus+label::before {
  outline: rgb(59, 153, 252) auto 5px;
}

.field--select {
  margin: 0 0 10px 0;
}

select[name="buyer_lead_agency_state"], select[name="buyer_lead_agency"] {
  height: 200px;
  padding: 0;
}

select[name="buyer_lead_agency_state"] option, select[name="buyer_lead_agency"] option {
  height: 30px;
  text-align: left;
  text-indent: 20px;
  display: flex;
  align-items: center;
}

.filters-apply {
  margin: 30px 0;
  width: 221px;
}

.research-help {
  font-size: 14px;
  line-height: 20px;
}

.overlay-background {
  display: none;
}

.overlay-background.active {
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

body.noscroll {
  height: 100vh;
  overflow: hidden;
}

.background-hider {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  z-index: 3;
  display: none;
}

@media (max-width: 768px) {
  .search-results-container, .search-results {
    width: 100vw;
  }

  .search-results-container {
    margin: 60px 0;
  }

  .search-filters {
    position: absolute;
    left: -300px;
    z-index: 3;
    top: 60px;
    transition: left .3s;
  }

  .search-filters.active {
    left: 0;
    overflow: scroll;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 150px;
  }

  .filters-apply {
    margin-top: 15px;
  }

  .show-filters {
    font-size: 16px;
  }

  .card-details {
    width: 64%;
  }

  .search-results {
    margin: 20px 15px;
  }

  .search-results h1 {
    margin-bottom: 20px;
  }
}
