@media (max-width: 768px) {
  coprocure-search {
    .search-interior {
      flex-flow: column;
      padding: 10px;
      height: auto;
      form.search-query {
        max-width: 100%;
      }
    }
    .search-container {
      flex-flow: column;
      box-shadow: none;
      height: auto;
      max-width: 90%;
      input {
        max-width: 300px;
        margin-bottom: 10px;
      }
      input.search-box {
        width: 90%;
        max-width: none;
        min-height: 42px;
      }
    }
    .search-icon {
      top: 4px;
      left: 20px;
    }

    a.powered-by {
      position: relative;
    }
    a.powered-by span {
      top: -10px;
    }
  }

  coprocure-search[headless="true"] {
    .search-results {
      width: 100%;
    }
    .search-results-container {
      background: transparent;
      width: 100%;
      margin: 0 auto;
    }
  }
}