{{}{}{}}}}}}
coprocure-search {
  ///////////////////////////////////////
  // from _search-results.scss
  .search-results {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #879EC0;
    width: 850px;
  }
  .search-results ul, li {
    list-style: none;
  }
  .page-links a {
    text-decoration: none !important;
    border-bottom: none !important;
  }
  .search-header {
    display: flex;
    margin-top: 24px;
    position:relative;
  }
  .search-header-right {
    width: 50%;
    display: inline-block;
    position:relative;
  }
  .search-header-left {
    width: 50%;
    display: inline-block;
  }
  .search-sort {
    right: 0;
    top: 10px;
    font-weight: 600;
    position: absolute;
    color: #586C8A;
  }
  .search-results a {
    color: #37A8EB;
    text-decoration: none !important;
    border-bottom: none !important;
  }
  .search-results .result-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
  .search-results .field-name {
    color: #879EC0;
  }
  .search-results .field-value {
    font-size: 14px;
    line-height: 140.1%;
    color: #4F6481;
    font-weight: 400;
  }
  .search-results ul {
    display: block;
    float: left;
    width: 100%;
    padding: 0;
  }
  .search-filters {
    background: #fff;
    width: 290px;
    min-width: 260px;  // No idea why both width and min-width needed but it was misrendering in IE
    padding: 30px 20px 10px;
    font-family: "FOOBAZ";
  }
  .filter-section-title {
    font-family: 'Lato', sans-serif;
    color: #146798;
    font-size: 16px;
    font-weight: 600;
  }
  .search-filters .field-group-header {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #586C8A;
  }
  .search-filters label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5D6782;
  }
  .show-filters {
    display: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 136.7%;
    color: #37A8EB;
    position: absolute;
    top: -10px;
    left: 0;
  }
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    height: 36px;
    border: 1px solid #96A9C5;
    border-radius: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    padding: 10px 15px;
    color: #146798;

    background-color: #fff;
    background-image: url(../../img/arrow-down-form.svg);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 15px, 0 0;
    background-size: .65em auto, 100%;
  }
  select[multiple]:focus option:checked {
    background: #37A8EB linear-gradient(0deg, #37A8EB 0%, #37A8EB 100%);
  }
  .search-filters select {
    color: #586C8A;
  }
  .cooperative-agency {
    min-width: 210px;
  }
  .search-filters .field--select label {
    color: #586C8A;
    margin: 0 0 10px 0;
    display: inline-block;
  }

  ////////////////////////////////////////////
  // from _index.scss
  .search-query-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    margin: 0 0 20px 0;
    position: relative;
    font-family: "SEARCH2SCSS"
  }
  .search-results {
    background: #FAFAFA;
    display: block;
    margin: 8px 0px 8px 30px;
  }
  .search-results h1 {
    text-transform: capitalize;
    margin-bottom: 0;
  }
  .search-results .result-link {
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 2px 2.28px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 25px 35px 25px;
    display: block;
    position: relative;
    transition: all .4s;
  }
  .search-results .result-link:hover {
    transition: all .4s;
    box-shadow: 2px 2.28px 10px rgba(0, 0, 0, 0);
  }
  .search-results .result-link:hover .result-title {
    transition: all .4s;
    color: #4F6481;
  }
  .search-no-results {
    text-align: center;
    font-family: "lato";
  }
  .search-no-results img {
    width: 40px;
  }
  .search-no-results h6 {
    font-size: 18px;
    font-weight: 500;
    color: #37A8EB;
    margin: .7em 0 .5em;
    line-height: 1.4em;
  }
  .search-no-results-text {
    font-weight: 500;
    color: #586C8A;
    font-size: 14px;
    line-height: 1.4em;
  }
  .card-details {
    width: 88%;
  }
  .search-results {
    a {
      width: 100%;
      height: 100;
    }
    p {
      font-size: 14px;
      color: #879EC0;
      font-weight: 400;
    }
    .result-title {
      max-width: 660px;
      display: block;
    }
    .card-controls {
      position: absolute;
      top: 0;
      right: 0;
      background: #F2F6FF;
      padding: 10px 24px;
    }
    .result-expiration {
      display: flex;
      flex-flow: column;
      .field-name {
        font-size: 14px;
        line-height: 15px;
        color: #4F6481;
      }
      .field-value {
        font-weight: 400;
        color: #3ea8eb;
      }
    }
    .field-name {
      display: block;
      margin: 3px 0;
      word-break: break-all;
    }
    .parties {
      display: flex;
      margin: 10px 0 15px 0;
      .author, .buyer {
        margin-right: 40px;
      }
    }
  }
  .remove-all {
    float: right;
    margin-top: -13px;
  }
  .field-group-header {
    margin: 30px 0 8px 0;
  }
  .field--checkbox {
    display: flex;
    margin-bottom: 1em;
  }
  .field--checkbox input[type="checkbox"] {
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
  }
  .field--checkbox label {
    position: relative;
    display: inline-block;
    padding: 4px 0 0 26px;
  }
  .field--checkbox label::before,
  .field--checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
  }
  .field--checkbox label::before {
    height: 16px;
    width: 16px;
    border: 1px solid #37A8EB;
    left: 0px;
    top: 3px;
  }
  .field--checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
  }
  .field--checkbox input[type="checkbox"]+label::after {
    content: none;
  }
  .field--checkbox input[type="checkbox"]:checked+label::after {
    content: "";
  }
  .field--checkbox input[type="checkbox"]:checked+label::before {
    background: #37A8EB;
  }
  .field--checkbox input[type="checkbox"]:focus+label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
  .field--select {
    margin: 0 0 10px 0;
  }
  select[name="buyer_lead_agency_state"], select[name="buyer_lead_agency"] {
    height: 200px;
    padding: 0;
  }
  select[name="buyer_lead_agency_state"] option, select[name="buyer_lead_agency"] option {
    height: 30px;
    text-align: left;
    text-indent: 20px;
    display: flex;
    align-items: center;
  }
  .filters-apply {
    margin: 30px 0;
    width: 221px;
  }
  .research-help {
    font-size: 14px;
    line-height: 20px;
  }
  .overlay-background {
    display: none;
  }
  .overlay-background.active {
    display: block;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .background-hider {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 3;
    display: none;
  }










  ////////////////////////////////
  // from _search.scss

  display: block;
  /* overrides defined after review on MARC page */
  a.result-link:link {
    text-decoration: none !important;
  }
  .result-link.search-no-results {
    display: none;
  }
  .search-results {
    background: transparent;
  }
  .search-results-container {
    background: transparent;
    width: 100%;
    margin: 0 auto;
  }
  .card-details {
    max-width: 85%;
  }
  .search-filters {
    display: none;
  }
  a.powered-by {
    display: flex;
    flex-flow: column;
    font-size: 10px;
    align-items: center;
    width: 150px;
    text-decoration: none !important;
    font-weight: normal !important;
    border-bottom: none !important;
  }
  a.powered-by span {
    color: #4F6481;
    text-decoration: none;
    position: absolute;
    top: 34px;
  }
  a.powered-by img {
    background: none;
  }
  a.powered-by:visited span {
    color: #4F6481;
  }
  .search-interior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 120px;
    background: #F2F6FF;
    box-shadow: 0px 8.28px 20px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 0 10px;
  }
  .search-container {
    display: flex;
    height: 40px;
    margin-top: 6px;
    box-shadow: 2px 2.28px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 38px;
    font-size: 14px;
  }
  .search-icon {
    top: 4px;
    width: 30px;
    height: 33px;
    left: 8px;
    position: absolute;
  }
  .search-container input {
    width: 630px;
    height: 42px;
    text-indent: 50px;
    font-size: 14px;
    border: solid 1px #fff;
    box-shadow: none;
    margin-bottom: 0;
  }
  .search-container button {
    background: #37A8EB;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    color: #FAFAFA;
    font-family: "Lato", sans-serif;
    padding: 10px 35px;
    transition: all .4s;
    width: auto;
    box-sizing: border-box;
    height: 42px;
    min-width: 120px;
    font-weight: normal;
  }
}