// TODO: Aggregate all these styles into a single file?
// This used to be a file that defined some CSS for search results, but overlapping styles got
// defined elsewhere, causing havoc. The styles for the normal width widget were aggregated into
// _search-base.scss, but haven't gotten around to aggregating and deduping the styles for mobile
@media (max-width: 768px) {
  coprocure-search, coprocure-search[headless="true"] {
    .show-filters {
      display: block;
    }

    .search-header {
      margin-top: 20px;
      flex-flow: column;
    }

    .search-sort{
      width: 180px;
      height: 38px;
    }

    .search-filters select {
      color: #586C8A;
      width: 100%;
    }
  }
  coprocure-search.offsite {
    .search-header {
      height: 182px;
      .show-filters {
        display: none;
      }
    }
  }

  coprocure-search[headless="true"] {
    .search-header {
      margin-top: 70px;
    }
    .search-query-controls {
      flex-flow: row;
      margin: 20px 0 0 0;
    }
  }

}



