@media (max-width: 768px) {
  coprocure-search, coprocure-search[headless="true"] {
    .show-filters {
      display: block;
    }

    .search-header {
      margin-top: 20px;
      flex-flow: column;
    }

    .search-sort{
      width: 180px;
      height: 38px;
    }

    .search-filters select {
      color: #586C8A;
      width: 100%;
    }
  }
  coprocure-search.offsite {
    .search-header {
      height: 182px;
      .show-filters {
        display: none;
      }
    }
  }

  coprocure-search[headless="true"] {
    .search-header {
      margin-top: 70px;
    }
    .search-query-controls {
      flex-flow: row;
      margin: 20px 0 0 0;
    }
  }

}



