coprocure-search {
  box-sizing: border-box;
  font-size: 16px;

  li {
    font-size: 16px;
  }
  input, textarea {
    box-sizing: border-box;
  }

  .search-form {
    width: 700px;
    margin: 20px auto;
    display: flex;
    position: relative;
  }
  .query {
    width: 500px;
    margin: 0;
    height: 48px;
    font-size: 16px;
    text-indent: 50px;
    border: solid #2456b4 1px;
  }
  .search-icon {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  #submit-search {
    height: 48px;
    border: none;
    background: #2456b4;
    color: #fff;
    font-size: 16px;
    margin: 0;
    width: 200px;
  }
  .results-list {
    width: 1088px;
    margin: 40px auto;
  }
  .results-list li {
    min-height: 64px;
    border-top: solid 1px #ccc;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }
  .header,
  .header .contract-name {
    color: #666666;
  }
  .results-list li:first-child {
    border: none;
  }
  .share-link {
    margin: 0 10px 0 0;
  }
  .contract-name {
    width: 400px;
    color: #153269;
    padding-right: 14px;
  }
  .summary {
    font-size: 14px;
    color: #666666;
    margin-top: 10px;
  }
  .contract-expiration {
    width: 170px;
  }
  .contract-agency {
    width: 170px;
    padding-right: 14px;
  }
  .contract-vendor {
    width: 220px;
    padding-right: 14px;
  }
  .contract-state {
    width: 124px;
  }
  .results-list .contracts {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: flex-start;
    /* background-color: #fafafa; */
  }
  .results-list .all-files {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    align-items: flex-start;
    padding: 10px;
    width: 100%;
  }
  .contact-vendor {
    height: 48px;
    border: none;
    background: #2456b4;
    color: #fff;
    font-size: 16px;
    margin: 20px;
    width: 250px;
  }
  .additional-documents, .share-record {
    height: 48px;
    background: none;
    border: solid 1px #2456b4;
    color: #245684;
    font-size: 16px;
    margin: 20px;
    width: 250px;
  }
  .contracts .fileset {
    display: flex;
    padding: 10px 10px 10px 0;
    word-break: break-all;
  }
  .fileset img {
    width: 100px;
  }
  .files {
    min-width: 20%;
  }
  .file-name-link {
    display: inline-block;
    margin-left: 10px;
    color: #000;
  }
  .fileset .file-name-link {
    background: no-repeat url("https://www.coprocure.us/img/icon-download.svg");
    text-indent: 32px;
    line-height: 20px;
  }
  .expandable-contract {
    cursor: pointer;
  }
  .expandable-contract:hover,
  .expandable-contract.flipped {
    /* background-color: #f4f9fe; */
  }
  .what-is-this {
    position: absolute;
    right: 40px;
    top: 30px;
  }
  .icon-caret {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    display: inline-block;
    fill: #ccc;
  }
  .highlit .icon-caret {
    fill: #2456b4;
  }
  .highlit.reverse .icon-caret {
    transform: rotate(180deg);
  }
  .footer-links {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    height: 26px;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px;
  }
  .footer-links a {
    margin: 0 20px;
  }

  /* modal */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
  }
  .modal {
    z-index: 1072;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5;
  }
  .modal-dialog {
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    margin: 5rem auto;
    transform: translate(0, -250%);
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  .modal-dialog.show {
    transform: translate(0, 0);
  }
  .modal-dialog h5 {
    font-size: 1.3em;
    margin: 20px 0 20px 0;
    display: flex;
    line-height: 28px;
  }
  .modal-dialog form {
    display: block;
    margin: 20px 0;
  }
  .modal-dialog textarea {
    width: 420px;
    height: 120px;
    margin: 0 0 10px 0;
  }
  .field-description {
    font-size: 0.85em;
    display: block;
    margin: 10px 0;
  }
  .modal-dialog form input {
    width: 300px;
    margin: 0;
    height: 48px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }
  .modal-dialog form button {
    height: 48px;
    border: none;
    background: #2456b4;
    color: #fff;
    font-size: 16px;
    margin: 0;
    width: 120px;
  }
  .modal-title i {
    padding: 0 6px 0 0;
  }

  .submit-request {
    border: solid #ccc 1px;
    padding: 40px;
    margin: 20px auto 50px;
    width: 1088px;
    max-width: 90%;
  }
  .submit-request h3 {
    font-size: 1.5em;
    display: block;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .submit-request p {
    text-align: center;
    max-width: 640px;
    margin: 25px auto;
    line-height: 20px;
  }
  .submit-request strong {
    font-weight: bold;
  }
  .submit-request label {
    width: 640px;
    margin: 0 auto;
    display: block;
  }
  .submit-request input[type="email"] {
    width: 300px;
    height: 48px;
    font-size: 16px;
    padding: 10px;
  }
  .submit-request textarea {
    width: 640px;
    padding: 10px;
    margin: 0 auto;
    height: 94px;
    display: block;
    border: solid #ccc 1px;
    max-width: 90%;
  }
  .submit-request button {
    display: block;
    height: 48px;
    border: none;
    background: #2456b4;
    color: #fff;
    font-size: 16px;
    margin: 20px auto 0;
    width: 200px;
    border-radius: 0;
  }

  /* cobrand unique styles */
  .logo {
    margin: 180px auto 0;
    display: block;
    overflow: hidden;
  }
  .cobrand_logo {
    width: 144px;
    margin: 13px 0 13px 24px;
  }

  @media (max-width: 720px) {
    .search-form,
    .results-list,
    .search-results,
    .submit-request,
    .submit-request textarea,
    .submit-request label {
      width: 100%;
    }
    .contract-expiration,
    .contract-agency,
    .contract-state {
      display: none;
    }
    .results-list .contracts {
      flex-flow: column-reverse;
    }
    .files {
      max-width: none;
      min-width: auto;
      margin: 10px 0;
    }
    .modal textarea {
      max-width: 90%;
    }
  }
}
